{% extends 'account_reports/templates/base.html' %}

{% block title %}
  {% if data['parameters']['jump_page'] %}
    {{ _('Taxes By Invoice and Period') }} - {{ data['parameters']['company_rec_name'] }} - {{ time|render }}
  {% else %}
    {{ _('Taxes By Invoice') }} - {{ data['parameters']['company_rec_name'] }} - {{ time|render }}
  {% endif %}
{% endblock %}

{% block main %}
    {% if data.get('output_format', 'pdf') != 'pdf' %}{% include('account_reports/taxes_by_invoice/templates/header_macro.html') %}{% endif %}
  {% if data['parameters']['records_found'] %}
    {{ show_detail(data['records']) }}
  {% else %}
    <strong>{{ _('No records found') }}</strong>
  {% endif %}
{% endblock %}
