{% extends 'account_reports/templates/base.html' %}

{% block title %}
  {{ _('Invoice Payment Dates') }} - {{ data['parameters']['company'] }} - {{ time|render }}
{% endblock %}

{% block main %}
  {% set format = data.get('output_format', 'pdf') %}
  {% if format != 'pdf' %}{% include('account_reports/invoice_payment_dates/templates/header_macro.html') %}{% endif %}
  <style>
    table.invoice-payment-dates {
      table-layout: fixed;
      width: 100%;
    }
    table.invoice-payment-dates th,
    table.invoice-payment-dates td {
      word-wrap: break-word;
    }
    table.invoice-payment-dates .col-number { width: 7%; }
    table.invoice-payment-dates .col-reference { width: 6%; }
    table.invoice-payment-dates .col-invoice-date { width: 7%; }
    table.invoice-payment-dates .col-party { width: 12%; }
    table.invoice-payment-dates .col-state { width: 5%; }
    table.invoice-payment-dates .col-payment-type { width: 7%; }
    table.invoice-payment-dates .col-description { width: 15%; }
    table.invoice-payment-dates .col-amount { width: 6%; }
    table.invoice-payment-dates .col-due-date { width: 7%; }
    table.invoice-payment-dates .col-due-amount { width: 7%; }
    table.invoice-payment-dates .col-payment-date { width: 7%; }
    table.invoice-payment-dates .col-payment-days { width: 6%; }
  </style>
  <table class="border invoice-payment-dates">
    <thead>
      <tr>
        <th class="col-number">{{ _('Number') }}</th>
        <th class="col-reference">{{ _('Reference') }}</th>
        <th class="col-invoice-date">{{ _('Invoice Date') }}</th>
        <th class="col-party">{{ _('Party') }}</th>
        <th class="col-state">{{ _('State') }}</th>
        <th class="col-payment-type">{{ _('Payment Type') }}</th>
        <th class="col-description">{{ _('Description') }}</th>
        <th class="col-amount" style="text-align: right;">{{ _('Untaxed') }}</th>
        <th class="col-amount" style="text-align: right;">{{ _('Tax') }}</th>
        <th class="col-amount" style="text-align: right;">{{ _('Total') }}</th>
        <th class="col-due-date">{{ _('Due Date') }}</th>
        <th class="col-due-amount" style="text-align: right;">{{ _('Due Amount') }}</th>
        <th class="col-payment-date">{{ _('Payment Date') }}</th>
        <th class="col-payment-days" style="text-align: right;">{{ _('Payment Days') }}</th>
      </tr>
    </thead>
    <tbody>
      {% if data['parameters']['records_found'] %}
        {% for record in data['records'] %}
          <tr>
            <td class="col-number no-wrap">{{ record['number'] }}</td>
            <td class="col-reference no-wrap">{{ record['reference'] }}</td>
            <td class="col-invoice-date no-wrap">{{ record['invoice_date'] }}</td>
            <td class="col-party">{{ record['party'] }}</td>
            <td class="col-state">{{ record['state'] }}</td>
            <td class="col-payment-type">{{ record['payment_type'] }}</td>
            <td class="col-description">{{ record['description'] }}</td>
            <td class="col-amount right">{{ record['untaxed_amount'] | render(digits=record['currency_digits']) }}</td>
            <td class="col-amount right">{{ record['tax_amount'] | render(digits=record['currency_digits']) }}</td>
            <td class="col-amount right">{{ record['total_amount'] | render(digits=record['currency_digits']) }}</td>
            <td class="col-due-date no-wrap">{{ record['due_date'] }}</td>
            <td class="col-due-amount right">{{ record['due_amount'] | render(digits=record['currency_digits']) }}</td>
            <td class="col-payment-date no-wrap">{{ record['payment_date'] }}</td>
            <td class="col-payment-days right">{{ record['payment_days'] }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="14">{{ _('No invoices found') }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
