<table>
  <tr>
    <th>{{ _('Date') }}</th>
    <th>{{ _('Number') }}</th>
    <th>{{ _('Reference') }} // {{ _('Description') }}</th>
    <th style="text-align: right;">{{ _('Debit') }}</th>
    <th style="text-align: right;">{{ _('Credit') }}</th>
    <th style="text-align: right;">{{ _('Balance') }}</th>
  </tr>
  {% for k, record in records.items() %}
    {% if not record.party_required %}
      <tr>
        <td colspan="2" class="bold">{{ record.code }}</td>
        <td class="bold">{{ record.account }}</td>
        <td colspan="2" style="text-align: right;">{% if record.lines %}{{ _('Previous balance...') }}{% endif %}</td>
        <td style="text-align: right;">{% if record.lines %}{{ record.previous_balance|render }}{% endif %}</td>
      </tr>
    {% endif %}

    {{ show_detail_lines(record) }}

    <tr class="bold">
      <td colspan="3" style="text-align: right;">{{ _('Total Fiscal Year') }}</td>
      <td style="text-align: right;" class="no-wrap">{{ record.total_debit|render }}</td>
      <td style="text-align: right;" class="no-wrap">{{ record.total_credit|render }}</td>
      <td style="text-align: right;" class="no-wrap">{{ (record.total_debit - record.total_credit)|render }}</td>
    </tr>

    <tr class="bold bottom">
      <td colspan="2" class="bold">{{ record.code }}</td>
      <td class="bold">{{ record.account }}</td>
      <td colspan="2" class="left">{{ _('Total') }}</td>
      <td style="text-align: right;" class="no-wrap">{{ (record.previous_balance + record.total_debit - record.total_credit)|render }}</td>
    </tr>
  {% endfor %}
</table>
