{% if record.lines and record.party_required %}
  {% for party, lines in record.lines|groupby('party') %}
    {% set ns = namespace(total_debit=0,total_credit=0,total_balance=0) %}
    <tr>
      <td colspan="2" class="bold">{{ record.code }}</td>
      <td class="bold">{{ party.rec_name }}</td>
      <td colspan="2" style="text-align: right;">{% if record.lines %}{{ _('Previous balance...') }}{% endif %}</td>
      <td style="text-align: right;"> {{ (lines[0].balance+lines[0].credit-lines[0].debit)|render }}</td>
    </tr>{% for l in lines %}
      <tr>
        <td>{{ l.line.date and l.line.date|render }}</td>
        <td>{% if l.line.move.post_number %}{{ l.line.move.post_number }}{% else %}{{ l.line.move.move_number }}{{ l.line.party and l.line.party.name }}{% endif %}</td>
        <td>{% if l.ref %}{{ l.ref }}{% endif %}{% if l.ref and l.line and l.line.description %} // {% endif %}{% if l.line and l.line.description %} {{ l.line.description }} {% endif %}</td>
        <td style="text-align: right;" class="no-wrap">{{ l.debit|render }} {% set ns.total_debit = ns.total_debit + l.debit %}</td>
        <td style="text-align: right;" class="no-wrap">{{ l.credit|render }} {% set ns.total_credit = ns.total_credit + l.credit %}</td>
        <td style="text-align: right;" class="no-wrap">{{ l.balance|render }}</td>
      </tr>
    {% endfor %}
    <tr class="bold">
      <td colspan="3" class="right">{{ _('Total Fiscal Year') }}</td>
      <td style="text-align: right;" class="no-wrap">{{ ns.total_debit|render }}</td>
      <td style="text-align: right;" class="no-wrap">{{ ns.total_credit|render }}</td>
      <td style="text-align: right;" class="no-wrap">{{ (ns.total_debit - ns.total_credit)|render }}</td>
    </tr>
    <tr class="bold bottom">
      <td colspan="2" class="bold">{{ record.code }}</td>
      <td class="bold">{{ party.rec_name }}</td>
      <td colspan="2" class="left no-wrap">{{ _('Total') }}</td>
      <td style="text-align: right;">{{ lines[-1].balance|render }}</td>
    </tr>
  {% endfor %}
{% elif record.lines %}
  {% for l in record.lines %}
    <tr>
      <td>{{ l.line.date and l.line.date|render }}</td>
      <td>{% if l.line.move.post_number %}{{ l.line.move.post_number }}{% else %}{{ l.line.move.move_number }}{{ l.line.party and l.line.party.name }}{% endif %}</td>
      <td>{% if l.ref %}{{ l.ref }}{% endif %}{% if l.ref and l.line.description %} // {% endif %}{% if l.line and l.line.description %} {{ l.line.description }} {% endif %}</td>
      <td style="text-align: right;" class="no-wrap">{{ l.debit|render }}</td>
      <td style="text-align: right;" class="no-wrap">{{ l.credit|render }}</td>
      <td style="text-align: right;" class="no-wrap">{{ l.balance|render }}</td>
    </tr>
  {% endfor %}
{% else %}
  <tr>
    <td></td>
    <td>-</td>
    <td>{{ _('Previous balance') }}</td>
    <td style="text-align: right;" class="no-wrap">{{ record.total_debit|render }}</td>
    <td style="text-align: right;" class="no-wrap">{{ record.total_credit|render }}</td>
    <td style="text-align: right;" class="no-wrap">{{ (record.total_debit - record.total_credit)|render }}</td>
  </tr>
{% endif %}
