<table>
  <tr>
    <th>{{ _('Date') }}</th>
    <th></th>
    <th>{{ _('Reference') }} + "//" + {{ _('Description') }}</th>
    <th>{{ _('Debit') }}</th>
    <th>{{ _('Credit') }}</th>
    <th>{{ _('Balance') }}</th>
  </tr>
  {% for k, record in records.items() %}
  <tr>
    <td colspan="4" class="bold">{{ k }}</td>
    <td class="right">{% if record.lines %}{{ _('Previous balance...') }}{% endif %}</td>
    <td>{% if record.lines %}{{ record.previous_balance|numberformat }}{% endif %}</td>
  </tr>

  {{ show_detail_lines(record) }}

  <tr class="bold">
    <td colspan="3" class="right">{{ _('Total Fiscal Year') }}</td>
    <td>{{ record.total_debit|numberformat }}</td>
    <td>{{ record.total_credit|numberformat }}</td>
    <td>{{ (record.total_debit - record.total_credit)|numberformat }}</td>
  </tr>

  <tr class="bold bottom">
    <td colspan="4">{{ k }}</td>
    <td class="right">{{ _('Total') }}</td>
    <td>{{ record.total_balance|numberformat }}</td>
  </tr>
  {% endfor %}
</table>
