{% extends 'account_reports/templates/base.html' %}

{% block style %}
<style type="text/css">
  @page {
    size: A4;
  }

  @media print {
  #header-details {
    display: none;
  }
}
</style>
{% endblock %}

{% block title %}
  {{ _('General Ledger') }} - {{ data['parameters']['company'] }} - {{ data['parameters']['now'] }}
{% endblock %}

{% block main %}
  <div>
    {{ show_detail(data['records']) }}
    <p>{{ _("When the Move number is between '()' means it hasn't Post Number and the shown number is the provisional one.") }}</p>
  </div>
{% endblock %}
